.doc pre {
	border: 1px dashed #999;
	border-radius: 2px;
  padding: 10px 15px;
  font-size: 13px;
  line-height: 1.7;
}

.doc pre code{
	font-family: Lucida Console,Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
}